@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Josefin+Sans:wght@300;400&family=Montserrat:wght@400;500;600;700&family=Poppins&family=Roboto&family=Send+Flowers&family=Source+Code+Pro&display=swap');



html{
    
				font-size: 10px;
}
*{
				padding: 0;
				margin: 0;
			 font-family: 'Roboto';
				box-sizing: border-box;
				list-style: none;
}
a{
				text-decoration: none;
				color: black;
}
main{
				position: relative;
}

.header{
				display: flex;
				
				justify-content: space-around;
				align-items: center ;
				width: 100%;
				height: 5.5rem;
				
				
}

.navbar-list{
				display: flex;
				justify-content: center;
				align-items: center;
				gap:4rem;
				font-size: 1.4rem;
}
.header .logo{
				font-family: 'Send Flowers';
				font-size: 3rem;
				font-weight: bold;
				color: black;
}
form .input-search{ 
     background: transparent;
     padding: 1rem 0.5rem;
     outline: blue;
				border-radius: 0.5rem;
				height: 3rem;
				border: 1px solid black;
}

form .input-search::placeholder{
				padding: 1rem 0.5rem;
				
}

form button{
     border: none;
     background: transparent;
     margin-left: 1rem;
     height: 2.8rem;
     box-shadow:  0 0 .5rem grey;
     width: 6rem;
				border-radius: 0.5rem;
				
}
.section-main{
     width: 100%;
     height: 50rem;
				
			 
}
.img-overlay{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 15rem;
     height: 15rem;
     color: white;
     
     font-size: 2rem;
     border-radius: 10rem;
				position: absolute;
				right: 55rem;
				top: 15rem;
				text-align: center;
				background-color: rgba(255,255,255,0.1);
				backdrop-filter:blur(10px);
				box-shadow: 0 0 0.4rem white;
				
}

.image-section .social-media-logo{
     position: absolute;
     bottom: 5rem;
     right: 5rem;
				width: 100%;
				height: 2rem;
				font-size: 2rem;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				gap:2rem;
			 color: white;
				
}
.social-media-logo ion-icon{
     color: white;
}

.image-section{
     position: relative;
     margin: auto auto;
				max-width: 100rem ;
				height: 50rem;
				
}
.image-section img{
     border-radius: .9rem ;
				width: 100%;
				height: 100%;
				object-fit: cover;
				
				
}
